.DS_Store
.un*
__pycache__/
mp3/
other/
config.ini
lib/ctf.py
lib/__pycache__/
modokicraft_scripts/

version/
.github/.github/workflows/main_uranaibot.yml

.env
bot.log
docs/
node_modules/
*/node_modules/
**/node_modules/
venv/
